@import './header/dropdown.scss';
@import './header/header.scss';
@import './chart/sidenav.scss';
@import './chart/label.scss';
@import './common.scss';
@import './button.scss';

.alert {
    display: none;
}

h4 {
    margin: 0.75rem 0 0.25rem 0;
}

.admin-form-container {
    background-color: rgba(24, 24, 23, 0.85);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 60px;
    padding-top: 3rem;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
}

.controls {
    padding-top: 2rem;
}

.admin-form {
    z-index: 200;
    width: 28rem;
    margin: 3rem 2rem !important;
    padding: 2rem 3rem;
    border: 0.05rem solid #ccc;
    border-radius: 0.3rem;
    background-color: #fff;
}

cds-alert-group {
    display: none;
    padding: 0;
}

input[type='text'] {
    width: 15rem !important;
}

.create-charts {
    margin: 1.6rem 0 0 0;
}

.input-risk {
    margin: 0.5rem 0;
}

.select-container {
    max-width: 13rem;
}
