@import './header/dropdown.scss';
@import './header/header.scss';

.content-container {
    background-color: #fafafa
    ;
}

.admin-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clr-form {
    padding: 2rem;
    border: 0.05rem solid #ccc;
    border-radius: 0.3rem;
    background-color: #fff !important;
}

.clr-form-control {
    padding: 0 0 1rem 0 !important;
}

input[type='text'] {
    width: 15rem !important;
}

.create-charts {
    margin: 1.6rem 0 0 0;
}
