@import './chart/sidenav.scss';
@import './header/dropdown.scss';
@import './header/header.scss';
@import './chart/label.scss';
@import './chart/spinner.scss';
@import './chart/tooltip.scss';

body {
    background-color: #fafafa;
    min-width: fit-content;
}

.charts-main-container {
    display: grid;
}
