@import './chart/sidenav.scss';
@import './header/dropdown.scss';
@import './header/header.scss';
@import './chart/label.scss';

body {
    background-color: #fafafa;
    min-width: fit-content;
}

#hover-rect {
    color: white;
    font-weight: 400;
    font-size: 1.5vh;
    letter-spacing: 0.066rem;
    padding: 0 0.3rem;
    position: absolute;
    display: none;
    z-index: 10;
    background-color: rgba(55, 55, 53, 0.8);
    border: 0.001rem solid white;
    margin-right: 4rem;
}

.charts-main-container {
    display: grid;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(24, 24, 23, 0.9);
    z-index: 2000;
}

.spinner-text h2 {
    color: white;
    font-weight: lighter;
}
