@import './index/index.scss';
@import './index/auth.scss';
@import './header/dropdown.scss';
@import './index/downloads.scss';

html {
    height: 100%;
}

div.main-container {
    min-height: 100%;
}

div.label-container {
    padding-bottom: 0.35rem;
}

label.grps {
    font-size: 0.8rem;
}


/* INFO */
#info-background {
    width: 90%;
    margin: 2rem auto;
}

.info-li {
    list-style: none;
}

button.btn.btn-link.scroll-content {
    padding: 0rem;
    outline: none;
}

/* STATES */
#state-box {
    border: 1px solid rgba(128, 141, 147, 0.45);
    width: 85%;
    height: 90%;
    margin: 2% auto;
    display: flex;
    border-radius: 5px;
    overflow-y: auto;
}

.table.state-table {
    margin-top: 0;
    border: none;
}

.fixed-head {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

table td.state-td {
    display: table-cell;
    vertical-align: middle;
}

table .td-form {
    margin-bottom: 0;
}

.sub-table {
    margin: 0.2rem 0;
}

table tbody tr td a {
    display: block;
    height: 100%;
    width: 100%;
}

/* Disclaimer */
.disclaimer {
    padding: 1rem 1rem 1.8rem 1rem;
    border: solid red 5px;
    border-radius: 3px;
}

.disclaimer-header {
    font-weight: 900;
    color: red;
}
