/* STATES */
#state-box {
    border: 1px solid rgba(128, 141, 147, 0.45);
    width: 85%;
    height: 90%;
    margin: 2% auto;
    display: flex;
    border-radius: 5px;
    overflow-y: auto;
}

.table.state-table {
    width: 100%;
    margin-top: 0;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
}

.fixed-head {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

table td.state-td {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

table .td-form {
    margin-bottom: 0;
}

th {
    background-color: #fafafa;
    color: #666666;
    font-size: 0.55rem;
    letter-spacing: 0.03em;
    border-bottom: 0.05rem solid #ccc;
    padding: 11px 12px;
}

td {
    background-color: #ffffff;
    color: #666666;
    font-size: 12px;
    font-weight: lighter;
    padding: 11px 12px;
    border-top: 0.05rem solid #e8e8e8;
}

tr:first-child td,
.table th {
    border-top: 0;
}

.sub-table-show {
    margin: 0.2rem 0;
    display: none;
    line-height: 1rem;
}

table tbody tr td a {
    width: 100%;
}

.state-href {
    display: contents;
}

.div-sub-grps {
    width: 11rem;
    margin: auto;
}

.div-sub-grps-long {
    overflow-y: scroll;
    min-height: 1rem;
    height: 7.2rem;
}
