<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pesticide-DBX</title>
    </head>
    <body>
        <%- include ("./headerIndex") %>
        <div class="admin-form-container">
            <form class="admin-form">
                <cds-form-group>
                    <h4>Upload JSON File for Preview</h4>
                    <cds-file>
                        <label for="json-file">JSON Input</label>
                        <input type="file" id="json-file" placeholder="JSON Datei" accept=".json" />
                    </cds-file>
                    <cds-alert-group class="alert-success" status="success">
                        <cds-alert>
                            JSON Datei entspricht den Anforderungen. Bitte fahren sie fort.
                        </cds-alert>
                    </cds-alert-group>
                    <cds-alert-group status="danger" class="alert-danger">
                        <cds-alert>
                            <div class="alert-text">
                                FEHLER: Bitte Stellen sie eine JSON Datei mit folgendem Format zur
                                Verfügung:
                            </div>
                        </cds-alert>
                    </cds-alert-group>
                    <div id="generated-inputs"></div>
                    <button type="button" disabled class="create-charts" aria-label="settings">
                        Create Charts
                    </button>
                </cds-form-group>
            </form>
        </div>
        <div layout wide>
            <div class="charts-main-container" cds-layout="grid">
                <div class="controls-container" cds-layout="col@sm:12 col@md:5 col@lg:4 col@xl:3">
                    <div class="select-container" cds-layout="vertical gap:lg"></div>
                    <div id="select-all">
                        <div id="scrollbox">
                            <div id="inner-scrollbox" class="clr-checkbox-wrapper">
                                <ul id="check-sub-grp"></ul>
                            </div>
                        </div>
                    </div>
                    <cds-button
                        cds-layout="p:lg"
                        type="button"
                        class="btn btn-icon btn-primary refresh-charts"
                        aria-label="settings"
                    >
                        Load New Data
                    </cds-button>
                </div>
                <div
                    id="chart-view"
                    class="tabcontent"
                    cds-layout="col@sm:12 col@md:7 col@lg:8 col@xl:9"
                >
                    <div layout wide>
                        <div cds-layout="grid" class="chart-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
