<!DOCTYPE html>
<html lang="en">
    <head> </head>
    <body>
        <div class="main-container">
            <%- include ("./headerIndex") %>
            <div class="admin-form-container">
                <form class="clr-form admin-form">
                    <h4>Upload JSON File for Preview</h4>
                    <div class="clr-form-control">
                        <label for="json-file" class="clr-control-label">JSON Input</label>
                        <div class="clr-control-container">
                            <div class="clr-input-wrapper">
                                <input
                                    type="file"
                                    id="json-file"
                                    placeholder="JSON Datei"
                                    accept=".json"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-success" role="alert">
                        <div class="alert-items">
                            <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                    <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                                </div>
                                <div class="alert-text">
                                    JSON Datei entspricht den Anforderungen. Bitte fahren sie fort.
                                </div>
                            </div>
                        </div>
                        <button type="button" class="close" aria-label="Close">
                            <clr-icon aria-hidden="true" shape="close"></clr-icon>
                        </button>
                    </div>
                    <div class="alert alert-danger" role="alert">
                        <div class="alert-items">
                            <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                    <clr-icon
                                        class="alert-icon"
                                        shape="exclamation-circle"
                                    ></clr-icon>
                                </div>
                                <div class="alert-text">
                                    FEHLER: Bitte Stellen sie eine JSON Datei mit folgendem Format
                                    zur Verfügung:
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="generated-inputs"></div>
                    <button
                        type="button"
                        disabled
                        class="btn btn-icon btn-primary create-charts"
                        aria-label="settings"
                    >
                        Create Charts
                    </button>
                </form>
            </div>
            <div class="content-container">
                <div class="content-area">
                    <div class="clr-row">
                        <div class="clr-col-12 clr-col-xl-3 controls">
                            <div class="select-container"></div>
                            <div class="clr-form-control">
                                <div class="clr-control-container">
                                    <div class="select-container"></div>
                                    <div id="select-all">
                                        <!--                                         <div class="clr-checkbox-wrapper">
                                            <input
                                                clrcheckbox=""
                                                type="checkbox"
                                                id="select-all-checks"
                                            />
                                            <label for="select-all-checks">Alle auswählen</label>
                                        </div> -->
                                        <div id="scrollbox">
                                            <div id="inner-scrollbox" class="clr-checkbox-wrapper">
                                                <ul id="check-sub-grp"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button
                                type="button"
                                class="btn btn-icon btn-primary refresh-charts"
                                aria-label="settings"
                            >
                                Load New Data
                            </button>
                        </div>
                        <div class="clr-col-12 clr-col-xl-9 chart-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
