<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pesticide-DBX</title>
    </head>
    <body>
        <div class="main-container">
            <%- include ("./headerIndex") %> <% if(success.length > 0) { %>
            <cds-alert-group
                type="banner"
                status="success"
                aria-label="This is an example banner alert group with a status of success"
            >
                <cds-alert> <%= success %> </cds-alert>
            </cds-alert-group>
            <% } %> <% if(error.length > 0) { %>
            <cds-alert-group
                type="banner"
                status="danger"
                aria-label="<%= error %>"
                closeChange="closeEvent"
            >
                <cds-alert>
                    <%= error %>
                    <cds-alert-actions>
                        <a href="login">
                            <cds-button>Login</cds-button>
                        </a>
                        <a href="register">
                            <cds-button>Register</cds-button>
                        </a>
                    </cds-alert-actions>
                </cds-alert>
            </cds-alert-group>
            <% } %>
            <div class="index-container">
                <div class="index-header">
                    <h1>PESTICIDE<br />TRENDS<br />DATABASE<br />EXPLORER</h1>
                </div>
                <div class="index-list">
                    <ul class="index-ul">
                        <li class="index-li">
                            <a class="synops" href="chart/synops" data-text="SYNOPS-Trend"
                                >SYNOPS-Trend</a
                            >
                        </li>
                        <li class="index-li">
                            <a class="indicator" href="chart/pli">Pesticide Load Indicator</a>
                        </li>
                        <li class="index-li">
                            <a class="indicator" href="chart/tli">Toxic Load Indicator</a>
                        </li>
                        <li class="index-li">
                            <a class="indicator" href="chart/pri">Pesticide Risk Indicator</a>
                        </li>
                        <li class="index-li">
                            <a class="indicator" href="chart/hri">Harmonized Risk Indicator</a>
                        </li>
                        <li class="index-li">
                            <a class="indicator" href="compare">Indikatoren-Vergleich</a>
                        </li>
                        <li class="index-li">
                            <a class="sold" href="chart/sales">Absatzzahlen</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
