<!DOCTYPE html>
<html lang="en">
    <head> </head>
    <body>
        <div class="main-container">
            <%- include ("./headerIndex") %>
            <div class="index-container">
                <div class="clr-row">
                    <div class="clr-col-md-12 clr-col-lg-8">
                        <div class="index-header">
                            <h1>
                                PESTICIDE<br />TRENDS<br />DATABASE<br />EXPLORER
                            </h1>
                        </div>
                    </div>
                    <div class="clr-col-md-12 clr-col-lg-4">
                        <ul class="index-ul">
                            <li class="index-li">
                                <a
                                    class="synops"
                                    href="chart/synops"
                                    data-text="SYNOPS-Trend"
                                    >SYNOPS-Trend</a
                                >
                            </li>
                            <li class="index-li">
                                <a class="indicator" href="pli"
                                    >Pesticide Load Indicator</a
                                >
                            </li>
                            <li class="index-li">
                                <a class="indicator" href="tli"
                                    >Toxic Load Indicator</a
                                >
                            </li>
                            <li class="index-li">
                                <a class="indicator" href="pri"
                                    >Pesticide Risk Indicator</a
                                >
                            </li>
                            <li class="index-li">
                                <a class="indicator" href="hri"
                                    >Harmonized Risk Indicator</a
                                >
                            </li>
                            <li class="index-li">
                                <a class="sold" href="sales">Absatzzahlen</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
