<!DOCTYPE html>
<html lang="en">
    <head> </head>
    <body>
        <div class="main-container">
            <%- include ("./headerIndex") %>
            <div id="login-background">
                <% if(error.length > 0) { %>
                <div class="alert alert-app-level alert-danger" role="alert">
                    <div class="alert-items">
                        <div class="alert-item static">
                            <div class="alert-icon-wrapper">
                                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            <div class="alert-text"><%= error %></div>
                        </div>
                    </div>
                    <button type="button" class="close" aria-label="Close">
                        <clr-icon aria-hidden="true" shape="close"></clr-icon>
                    </button>
                </div>
                <% } %>
                <div class="login-content">
                    <div class="login-box">
                        <div id="login-title">
                            <section class="title">
                                <h2>
                                    <span id="title-strong">Pesticide Trends</span><br /><span
                                        id="sub-title"
                                        >Database Explorer</span
                                    >
                                </h2>
                            </section>
                        </div>
                        <form class="login" action="login" method="post">
                            <cds-form-group layout="vertical-inline">
                                <cds-input>
                                    <label>Username</label>
                                    <input
                                        type="text"
                                        name="username"
                                        id="username"
                                        placeholder="BENUTZERNAME"
                                    />
                                </cds-input>

                                <cds-password>
                                    <label>Password</label>
                                    <input
                                        type="password"
                                        name="password"
                                        id="password"
                                        name="password"
                                        autocomplete="on"
                                        placeholder="PASSWORT"
                                    />
                                </cds-password>

                                <cds-button status="success" id="sign-in" type=" submit">
                                    Sign in
                                </cds-button>
                                <div id="register-link">
                                    <a href="./register" class="signup"
                                        >Sie haben noch keinen Account?<br />Jetzt Account
                                        erstellen!</a
                                    >
                                </div>
                            </cds-form-group>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
