<!DOCTYPE html>
<html lang="en">
    <head>
        title="Pesticide-DBX"
    </head>
    <body>
        <div class="main-container">
            <%- include ("./headerIndex") %>
            <div id="login-background">
                <% if(error.length > 0) { %>
                <cds-alert-group type="banner" status="danger" aria-label="<%= error %>">
                    <cds-alert> <%= error %> </cds-alert>
                </cds-alert-group>
                <% } %>
                <div class="login-content">
                    <div class="login-box">
                        <div id="login-title">
                            <section class="title">
                                <h2>
                                    <span id="title-strong">Pesticide Trends</span><br /><span
                                        id="sub-title"
                                        >Database Explorer</span
                                    >
                                </h2>
                            </section>
                        </div>
                        <form class="login" action="register" method="post">
                            <cds-form-group layout="vertical-inline">
                                <cds-input>
                                    <label>Username</label>
                                    <input
                                        type="text"
                                        name="username"
                                        id="username"
                                        placeholder="BENUTZERNAME"
                                    />
                                </cds-input>
                                <cds-password>
                                    <label>Password</label>
                                    <input
                                        type="password"
                                        name="password"
                                        id="password"
                                        name="password"
                                        autocomplete="on"
                                        placeholder="PASSWORT"
                                    />
                                </cds-password>

                                <cds-button status="success" id="sign-in" type=" submit">
                                    Register
                                </cds-button>
                                <div id="login-link">
                                    <a href="./login" class="signup"
                                        >Sie haben bereits einen Account?<br />Loggen sie sich
                                        ein!</a
                                    >
                                </div>
                            </cds-form-group>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
