<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <header class="header-6">
            <div class="branding">
                <a href="./" class="nav-link">
                    <span class="title">Pesticide-Trends DBX</span>
                </a>
            </div>
            <div class="header-actions">
                <% if (currentUser) { %>
                <a href="state" class="nav-link nav-text" id="user-link"
                    >User: <%= currentUser.username %></a
                >
                <% } %>
                <div class="dropdown bottom-left">
                    <button class="dropbtn nav-link nav-icon">
                        <clr-icon shape="bars" size="32"></clr-icon>
                    </button>
                    <div class="dropdown-content">
                        <div class="dropdown-link">
                            <a href="./">
                                <div class="dropdown-icon">
                                    <clr-icon shape="home"></clr-icon>
                                </div>
                                Menu</a
                            >
                        </div>
                        <div class="dropdown-link">
                            <a href="downloads">
                                <div class="dropdown-icon">
                                    <clr-icon shape="download"></clr-icon>
                                </div>
                                Downloads</a
                            >
                        </div>
                        <% if(!currentUser){ %>
                        <div class="dropdown-link">
                            <a href="login">
                                <div class="dropdown-icon">
                                    <clr-icon shape="login"></clr-icon>
                                </div>
                                Login</a
                            >
                        </div>
                        <div class="dropdown-link">
                            <a href="register">
                                <div class="dropdown-icon">
                                    <clr-icon shape="pencil"></clr-icon>
                                </div>
                                Register</a
                            >
                        </div>
                        <% } else { %>
                        <div class="dropdown-link">
                            <a href="logout">
                                <div class="dropdown-icon">
                                    <clr-icon shape="logout"></clr-icon>
                                </div>
                                Log Out</a
                            >
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </header>
        <div class="index-container">
            <div class="clr-row">
                <div class="clr-col-md-12 clr-col-lg-8">
                    <div class="index-header">
                        <h1>
                            PESTICIDE<br />TRENDS<br />DATABASE<br />EXPLORER
                        </h1>
                    </div>
                </div>
                <div class="clr-col-md-12 clr-col-lg-4">
                    <ul class="index-ul">
                        <li class="index-li">
                            <a
                                class="synops"
                                href="synops"
                                data-text="SYNOPS-Trend"
                                >SYNOPS-Trend</a
                            >
                        </li>
                        <li class="index-li">
                            <a class="indicator" href="pli"
                                >Pesticide Load Indicator</a
                            >
                        </li>
                        <li class="index-li">
                            <a class="indicator" href="tli"
                                >Toxic Load Indicator</a
                            >
                        </li>
                        <li class="index-li">
                            <a class="indicator" href="pri"
                                >Pesticide Risk Indicator</a
                            >
                        </li>
                        <li class="index-li">
                            <a class="indicator" href="hri"
                                >Harmonized Risk Indicator</a
                            >
                        </li>
                        <li class="index-li">
                            <a class="sold" href="sales"
                                >Absatzzahlen</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
