.hidden-span {
    display: none;
}

.visible-span {
    display: flex;
    background-color: #fff4c7;
    position: absolute;
    transform: translate(-16px, -27px);
    padding: 0.5rem;
    margin-left: 0.25rem;
    border: 1px solid rgba(128, 141, 147, 0.45);
    border-radius: 0.1rem;
}
