@import '../button.scss';

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 1200px) and (min-width: 750px) {
    #scrollbox {
        height: 14rem !important;
    }

    #submit-choice {
        margin-left: 0 !important;
    }
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0.8rem 0.8rem;
}

.chart-controls {
    width: 80%;
}

.select-basis,
.select-act,
.select-grp {
    width: 9.115rem;
    font-size: 0.5834rem;
}

.select-input {
    z-index: 0 !important;
}

#select-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SCROLLBOX LEGEND */
#scrollbox {
    height: 15rem;
    max-width: 13rem;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid rgba(128, 141, 147, 0.45);
    padding: 0.446rem;
    margin-top: 0.5rem;
    border-radius: 0.1rem;
}

#check-sub-grp {
    padding: 0 0.5rem;
}

.sidenav-li {
    list-style-type: none;
}

.li-div {
    display: flex;
    justify-content: flex-start;
}

.legend-header {
    margin: 0 0 0.4rem 0;
    color: #666666;
    font-weight: lighter;
    font-size: 0.7rem;
}

label.checkbox-label {
    margin-left: 0.31rem;
    vertical-align: center;
    white-space: nowrap;
}

input[type='checkbox'] {
    visibility: hidden;
}

/* LEGEND APPENDIX */
#legend {
    display: flex;
    justify-content: center;
    width: 100%;
}

.line-icon {
    padding: 0.2rem 0;
    display: flex;
    align-items: baseline;
}

.line-icon p {
    padding-left: 0.5rem;
}

#back-bar-group {
    display: flex;
    align-items: center;
    padding: 0 0 0.2rem 0;
}

#back-bar-svg {
    stroke: #9d9d9d;
    stroke-width: 0.06rem;
    fill: #eeeeee;
}

#bar-back-label {
    padding-left: 0.5rem;
}

.line-label {
    padding-left: 1.2rem;
}

.line-legend {
    stroke-width: 2px;
}

#submit-choice {
    margin: 0.8rem auto;
    display: block;
}

.hidden-sub {
    display: none;
}

.mouseover-rect:not(.click-rect) {
    fill-opacity: 0.3;
}

.svg-label {
    width: 32px;
    height: 16px;
    cursor: pointer;
    margin-right: 0.5rem;
}

.click-rect {
    fill: #cfff04 !important;
}

.legend-highlight {
    fill: #cfff04 !important;
}
