.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 1200px) and (min-width: 750px) {
    .clr-control-container {
        display: flex !important;
        flex-direction: row;
        align-items: flex-start;
    }

    .select-container {
        margin-right: 2rem;
    }

    #legend {
        margin-left: 2rem !important;
    }

    #scrollbox {
        height: 14rem !important;
    }

    #submit-choice {
        margin-left: 0 !important;
    }
}

#select-basis,
#select-act,
#select-grp {
    width: 9.115rem;
    font-size: 0.5834rem;
}

.select-input {
    z-index: 0 !important;
}

div.grp-container {
    padding-bottom: 1.25rem;
    padding-left: 0.5rem;
}

div.grp-container:nth-of-type(1) {
    padding-top: 0.4rem;
}

#select-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#legend-info {
    padding-left: 1.625rem;
}

/* SELECT ALL CHECK */
#select-all {
    padding: 0.3rem 0;
}

#select-checks {
    width: 0.66667rem;
    height: 0.66667rem;
}

/* SCROLLBOX LEGEND */
#scrollbox {
    height: 19rem;
    width: 11.25rem;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid rgba(128, 141, 147, 0.45);
    padding: 0.446rem;
    margin-top: 0.5rem;
    border-radius: 0.1rem;
}

.sidenav-li {
    list-style-type: none;
}

.li-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.legend-header {
    margin: 0rem;
}

label.checkbox-label {
    margin-left: 0.31rem;
    vertical-align: center;
    white-space: nowrap;
}

input[type='checkbox'] {
    visibility: hidden;
}

/* LEGEND APPENDIX */
#legend {
    padding: 1rem 0;
    width: 10.75rem;
    margin-left: 0.51rem;
}

#back-bar-group {
    display: flex;
    vertical-align: top;
    padding-bottom: 0.15rem;
}

#back-bar-svg {
    stroke: #bec1c1;
    stroke-width: 0.06rem;
    fill-opacity: 0;
    position: absolute;
    top: 19%;
}

#bar-back-icon-span {
    width: 54px;
    position: relative;
}

#bar-back-icon-span {
    display: inline-flex;
    align-items: top;
}

#back-bar-label {
    padding-left: 0.3rem;
    color: #000;
}

.line-icon {
    padding-bottom: 0.15rem;
}

.line-label {
    padding-left: 1.2rem;
    color: #000;
}

.line-legend {
    stroke-width: 2px;
}

#submit-choice {
    margin: 0.8rem auto;
    display: block;
}

.hidden-sub {
    display: none;
}

.mouseover-rect:not(.click-rect) {
    fill-opacity: 0.3;
}

.svg-label {
    width: 32px;
    height: 16px;
}

.click-rect {
    fill: #cfff04 !important;
}

.legend-highlight {
    fill: #cfff04 !important;
}
